[Unit]
Description=Oresat MON0 IFACE Service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
User=root
ExecStart=ifconfig mon0 up
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
