[Unit]
Description=Oresat MON0 IFACE Service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/startmonitor.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
